body, html {
	font-family: 'Oswald', sans-serif;
	color: black;
	margin: 1;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}

#myVideo {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
	width: 60%;
	height: 70%;
}
ul.izbornik {
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: rgb(54, 224, 20);
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

h1 {
	text-align: center;
	font-size: 300%;
	color:rgb(54, 224, 20);
	text-shadow:0 0 4px black;	
}

hr {
	margin: 1em;
	border: 1px solid rgb(54, 224, 20);
	clear: both;
}

.news h1 {
    text-align: left;
    margin-left: 0.5cm;
    margin-top: 2cm;
    margin-bottom: 1cm;
}
.news img {
    width: 12%;
	float: left;
	padding: 0.5em;
	margin-bottom: 3cm;
	margin: 0 1em 0.5em 0.5em;
}

.news time {
	margin-top: 2cm;
	font-style: italic;
	color:rgb(54, 54, 53)
}


.news-članak img {
	border: #111;
	text-align: center;
	vertical-align: top;
	width: 30%;
}



.news-članak figcaption {
	font-style: italic;
	font-size: larger;
}


.news-članak p {
	font-size: large;
	font-style: italic;
}

input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

input[type=submit] {
    display: block;
	background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

img {
    width: 50%;
}

.galerija figure {
    text-align: center;
    padding: 0.5em;
	margin-left: 10.5cm;
	float: left;
	width: 40%;
    height: 70%;
	border: 1px solid black;
    }
    
.galerija figcaption {
    font-size: 90%;
    font-style: italic;
	height: 50px;
	text-align: center;
    text-shadow: black;
    }


ul.footer {
	text-align: center;
	font-weight: bold;
	position: fixed;
	margin-bottom: 0%;
    	bottom: 0;
    	width: 100%;
    	height: 55px;
    	background: grey;
}

footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}

footer p {
	color: black;
	text-align: center;
	margin: 0.5em;
}

footer img {
	width: 20px;
}


